<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Presupuesto</title>
  <style>
    header {
      background: #333;
      color: white;
      height: 80px;
    }
    
    h2 {
        text-align: center;
        color: white;
        padding: auto 0;
      }

    section {
      background: #333;
      color: white;
      height: 200px;
    }

    footer {
      background: #333;
      color: white;
      height: 60px;
    }

  </style>
</head>
<body>
  <header>
    <h2>Presupuesto para sitio web</h2>
  </header>

  <section>
    <h3>Hostgator</h3>
    <h4>USD 6,95/mes</h4>
    <ul>
      <li>Subdominio Ilimitado </li>
      <li>1 Dominio </li>
      <li>Almacenamiento Ilimitado </li>
      <li>Direcciones de correo electrónico Ilimitado </li>
    </ul>
  </section>

  <footer>
    <h3>By José Abad</h3>
  </footer>
</body>
</html>